<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Signin to Strength for Health</title>


    <div class="container">


        <h2 class="login-heading">Please sign in</h2>
        <%= form_tag sessions_url, method: "post", class: 'form-signin' do %>

            <%= text_field_tag :email, nil, size: 80, class: "form-control", placeholder: "Email address" %><br>
            <%= password_field_tag :password, nil, size: 80, class: "form-control", placeholder: "Password"  %><br>

            <%= submit_tag "Sign in", class: "btn btn-lg btn-sosa btn-block" %>
         <% end %>


    </div>

    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

