<div class="container">
<div class="jumbotron s4h">
<h2>Getting started</h2>
<p>Increasing your physical activity can be relatively easy, if you know how. One easy way is to incorporate physical activity into your normal routines, like walking rather than driving, taking the stairs instead of the elevator or parking the car farther away from the store. The real challenge is in making the personal commitment to participate in a structured program that will have a significant impact on your overall health. And it needs to become part of your daily routine.</p>

<p>This program focuses on four key parts of a healthy exercise program:</p>

    <ul>
        <li>Knowing your abilities and limitations</li>
        <li>Setting your goals</li>
        <li>Developing your own program</li>
        <li>Monitoring your progress</li>
    </ul>
</p>
<p>Contact your physician if you experience any symptoms of weakness, unsteadiness, light-headedness or dizziness, chest pain or pressure, nausea or shortness of breath. Mild soreness after exercise may be experienced when beginning a new exercise program. Contact your healthcare provider if the soreness does not improve after 2-3 days.</p>

<p>Start with 2-3 activities for each area: upper body, lower body and back. Perform 1 set of 10 repetitions at a resistance that makes you a little tired at the last repetition. Be sure you maintain proper form! Rest for 2 minutes between activities. Maintain normal breathing patterns, breathing once with each repetition. Soreness is to be expected with any time of new activity that isn’t familiar, but it should pass.<br>
<p>Practice your strength exercises 2-3 times per week, and don’t strength train on consecutive days.<br>
Increase repetitions to 15 per activity, then from 1 to 2 sets of each activity. Increase resistance to allow fatigue with the last repetition. As your strength improves, you will notice you will be able to do more activity at the same intensity. You must progressively increase resistance (by changing band color or shortening the band length) to increase strength. You may use different bands for different exercises.<br></p>
You can also use the <a href = 'http://www.hygenicblog.com/wp-content/uploads/2011/09/Thera-Band-RISE-640x279.jpg'>RISE Scale</a> to determine intensity. You should try to maintain a moderate intensity.
</p>

<h2>Progression</h2>
<p>Progression is the key to improving fitness. In general, increase the length or number of the activities before increasing the intensity or difficulty.<br>
Increase the number of times per week the activity is performed increase the length of aerobic activity or number of sets/repetitions<br>
Increase the level by increasing pace for aerobic or adding more resistance (change band color)<br></p>

<h2>Safety</h2>
<p>Contact your doctor if you experience chest pain or pressure, trouble breathing or shortness of breath, light-headedness or dizziness, or nausea with exercise. Don’t perform activities that cause sharp pain or aggravate a medical condition. Muscle soreness is to be expected with any new exercise program.<br>
Use soreness as a guide for intensity. If you are very sore the day after exercising, exercise at a lower intensity next time. If the pain persists more than 2-3 days, contact your healthcare provider. Joint pain, such as in the knees or elbows during exercise, is an indication you should stop and talk to your healthcare provider. Remember to breathe properly. Never hold your breath while straining, particularly if you have high blood pressure. Generally, exhale during muscle exertion, and inhale during relaxation.<br></p>

<h2>Goal Setting</h2>
<p>Goals should be based on your own personal limitations and your preferences. You should write your goals down.<br>
When setting your goals, make sure they are <b>SMART: Specific, Measurable, Attainable, Realistic, and Time-limited</b>. You should be at least 80% sure you can reach your goal for the week. You can revise your goals each week as you make progress. Give yourself a few weeks to get used to your new activities. As you work through your activity, you may find it easier than you thought. Then its time to reevaluate your goals for the following week!<br>
Once you have your goals, you need strategies. Strategies are behaviors to start doing to help you achieve your goals. Examples might be: walk at lunch, use the stairs at work, parking at the far end of the grocery store parking lot. Writing down your behavior strategies will help you use them! Keep an open mind when choosing strategies. You will find some work better than others or you might discover new ones as time goes by.<br>
Refining your goals is a necessary part of this process. When reaching your goals is easy to attain, you want to adjust the goal up. If you didn’t quite meet your goal, you might want to reevaluate both the goal and your strategies.</p>

<h2>
  <%= link_to 'Create a New Workout', new_workout_url %></h2>
</div>
</div>
